.form-row {
  margin-bottom: 16px;
}

mat-form-field {
  width: 100%;
}

mat-spinner {
  margin-right: 8px;
}

mat-dialog-content {
  min-width: 400px;
  padding: 20px 0;
}

mat-dialog-actions {
  padding: 16px 0;
  margin-bottom: 0;
} 